[Unit]
Description="Spacemesh systemd service"
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n

EnvironmentFile=/etc/spacemesh/spacemesh-service.env
ExecStart=/home/b6111427/go-spacemesh \
 --tcp-port 7153 \
 --config /home/b6111427/config.json \
 -d /home/b6111427/sm_data \
 --coinbase $WALLET_ADDR \
 --start-mining \
 --post-datadir ./post_data
WorkingDirectory=/home/b6111427

[Install]
WantedBy=multi-user.target
