[Unit]
Description="Aleo systemd service"
After=network.target

[Service]
Restart=always
RestartSec=10
EnvironmentFile=/etc/aleo/aleo-service.env
ExecStart=/var/lib/aleo-data/snarkos \
  --miner-address $MINER_ADDRESS \
  --is-miner

[Install]
WantedBy=multi-user.target
