[Unit]
Description="Aleo systemd service"
After=network.target

[Service]
User=aleo_service
Restart=always
RestartSec=10
ExecStart=/var/lib/aleo-data/snarkos \
  --verbose 3

[Install]
WantedBy=multi-user.target
