[Unit]
Description=Service that keeps running the echo-server from startup.
After=network.target

[Service]
Type=simple
User=meson_service
ExecStart=/var/lib/spacemesh-data/meson-linux-amd64/meson
WorkingDirectory=/var/lib/spacemesh-data/meson-linux-amd64
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n

[Install]
WantedBy=multi-user.target
