[Unit]
Description=Service that keeps running the echo-server from startup.
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/meson/meson-service.env
ExecStart=home/$USERNAME/meson-linux-amd64/meson
WorkingDirectory=home/$USERNAME/meson-linux-amd64
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n

[Install]
WantedBy=multi-user.target
