[Unit]
Description=Service that keeps running the echo-server from startup.
After=network.target

[Service]
Type=simple
ExecStart=/home/%u/meson-linux-amd64/meson
WorkingDirectory=/home/%u/meson-linux-amd64
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n

[Install]
WantedBy=multi-user.target
